<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kgp.salamat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.Add.UbahProfileActivity"></activity>
        <activity android:name=".admin.ProfilAdminActivity" />
        <activity android:name=".admin.Detail.DetailTpsActivity" />
        <activity android:name=".admin.Add.AddTpsActivity" />
        <activity android:name=".admin.DataTpsActivity" />
        <activity android:name=".admin.Detail.DetailPaslonActivity" />
        <activity android:name=".relawan.ProfilRelawanActivity" />
        <activity android:name=".app.AppController" />
        <activity android:name=".relawan.InputSuaraActivity" />
        <activity android:name=".admin.Add.AddPaslonActivity" />
        <activity android:name=".admin.DataPaslonActivity" />
        <activity android:name=".admin.Detail.DetailListRelawanActivity" />
        <activity android:name=".admin.ListRelawanActivity" />
        <activity android:name=".admin.Detail.DetailTerimaActivity" />
        <activity android:name=".admin.TerimaRelawanActivity" />
        <activity android:name=".admin.HasilSuaraActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreenActivity2"
            android:theme="@style/AppTheme.NoAction" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoAction" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoAction" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>